extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/form.css")
    link(rel="stylesheet", href="/css/auth.css")

block content
    main
        if errorMessage
            div(class="user-message user-message--error") #{errorMessage}
        form.login-form(action="/newPassword" method="POST")
            div.form-control
                label(for="password") New Password
                input(type="password" name="password" id="password")
            input(type="hidden" name="resetToken" value=resetToken)
            input(type="hidden" name="userId" value=userId)
            input(type="hidden" name="_csrf" value=csrfToken)
            button.btn(type="submit") Update Password
