extends ../layouts/main-layout.pug

block styles 
    link(rel="stylesheet", href="/css/form.css")
    link(rel="stylesheet", href="/css/auth.css")

block content
    main
        if errorMessage
            div(class="user-message user-message--error") #{errorMessage}
        form.login-form(action="/resetPassword" method="POST")
            div.form-control
                label(for="email") E-Mail
                input(type="email" name="email" id="email")
            input(type="hidden" name="_csrf" value=csrfToken)
            button.btn(type="submit") Reset Password
