.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
    display: block;
    width: 100%;
    margin-bottom: 0.25rem;
}

.inputText {
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 2px;
}

.inputError{
    border: 1px solid red;
    font: inherit;
    border-radius: 2px;
}

.form-control input:focus,
.form-control textarea:focus {
    outline-color: #00695c;
}

.resetPass{
 display: block;
 width: 150px;
 margin: 40px auto;
 padding: 10px;
 text-align: center;
 text-decoration: none;
 color: orangered; 
}