extends ../layouts/main-layout.pug

block styles 
   

block content
    main 
        if orders.length > 0
            each order in orders
                h1 # #{order.id}
                ul
                    each product in order.products
                        li #{product.title} (#{product.orderItem.quantity})
        else
            h1 Nothing to share!!!